footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px solid #e0e0e0;
  color: grey;
  padding: 10px 0;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 { font-weight: 600; }
