html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px solid #e0e0e0;
  color: grey;
  padding: 10px 0;
}
h1, h2, h3 { font-weight: 600; }

.empty-portfolio {
  text-align: center;
  margin-top: 250px;
}

.portfolio {
  .container {
    position: relative;

    &.container_wide {
      width: auto;
      padding-left: 0;

      .portfolio_header_menu {
        right: 10px;
      }
    }

    .portfolio_header_menu {
      position: absolute;
      top: 8px;
      right: 15px;

      a {
        margin-left: 10px;
      }
      a.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}