.portfolio .portfolio_site_item {
  .top_title {
    position: relative;

    .pf_avatar {
      border-radius: 20px;
      border: 3px solid #dfdfdf;
      width: 40px;
      position: absolute;
      top: -5px;
    }

    .title {
      margin-left: 50px;
      font-size: 1.5em;
    }
  }

  .main_image img {
    margin: 0 auto;
  }
  .go_to_site {
    margin-top: 10px;
  }
  .image_thumbnails {
    margin-top: 20px;

    a {
      float: left;
      margin-right: 10px;
      border: 2px solid lightgrey;
    }
    a.active {
      opacity: .5px;
      border-color: grey;
    }
  }
}
